<nav class="menu" role="nav">
    <ul>
      <li><a href="/">Blog</a></li>
      <li><a href="/perfil">Perfil</a></li>
      <li><a href="/projetos">Projetos</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
</nav>